{% extends "layout.html" %}

{% block body %}


      <main>
        <section>
          <h2>Welcome to my homepage!</h2>
          <p>This is a simple homepage that I created using Python, Flask, HTML, and CSS.</p>
          <p>The navigation bar at the top of the page contains links to different sections of the homepage.</p>
          <p>The main section of the homepage contains a brief introduction to me and my work.</p>
        </section>
      </main>
      <footer>
        <p>&copy; 2024 Claire</p>
      </footer>

{% endblock %}
